# npm, pnpm, jspm
# for adding yarn, see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
node_modules/
.node_modules/
jspm_packages/
.npm
npm-debug.log*
.pnpm-debug.log*

# node
# https://nodejs.org/api/report.html
# https://nodejs.org/api/addons.html
.node_repl_history
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
build/Release

# eslint, stylelint
.eslintcache
.stylelintcache

# typescript
*.tsbuildinfo

# runtime data
pids
*.pid
*.seed
*.pid.lock

# operating systems
.DS_STORE
Thumbs.db

# editors
# .vscode
.vscode-test
*.iml
.idea

# logs
*.log
*.log*
logs/**
!logs/.gitkeep

# dotenv environment variable files
.env
.env.*
*.env
!example.env
!.env.example

# common/other
.temp
.cache
.cache/
dist
build

# project
data/**
!data/.gitkeep
/samples
/production
*caddyfile*
!example.caddyfile
